@font-face {
  font-family: 'ClashGrotesk-Variable';
  src: url('./fonts/ClashGrotesk-Variable.woff2') format('woff2'),
    url('./fonts/ClashGrotesk-Variable.woff') format('woff'),
    url('./fonts/ClashGrotesk-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}


/* 2nd */

@font-face {
  font-family: 'ClashDisplay-Variable';
  src: url('./fonts/ClashDisplay-Variable.woff2') format('woff2'),
    url('./fonts/ClashDisplay-Variable.woff') format('woff'),
    url('./fonts/ClashDisplay-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111014;
  background: url('./public/assets/noise.png') center/cover no-repeat;
  background-blend-mode:overlay;
  backdrop-filter: blur(40px);
  line-height: 1.5;
  font-family: "ClashDisplay-Variable", Calibri, Tahoma, sans-serif;
}

/* Background noise  */

/* Auto layout */

/* Note: backdrop-filter has minimal browser support */
/*

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

.nav-list {
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

.hidden {
  animation: slideOutRight 0.5s forwards;
}

.visible {
  animation: slideInRight 0.5s forwards;
} */